* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
main {
  display: flex;
  background-color: #fbf7e3;
  border-radius: 40px;
  padding: 1.25em;
  gap: 25px;
}
h4 {
  color: #612406;
  font-size: x-large;
}
p {
  color: #612406;
}
@media screen and (max-width: 576px) {
  main {
    display: flex;
    flex-direction: column;
  }
  div {
    order: 2;
  }
  img {
    width: 100%;
    height: 320px;
  }
}
