* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navbar {
  width: 90%;
  max-width: 1200px;
  background-color: #fbf6e6;
  padding: 30px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-btn {
  background-color: #f3e08e;
  border: none;
  border-radius: 50px;
  padding: 18px 30px;
  font-size: 18px;
  color: #5a2e00;
}

.nav-center {
  background-color: #f3e08e;
  border-radius: 80px;
  padding: 25px 60px;

  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 32px;
  font-weight: bold;
  color: #5a2e00;
}

.nav-center img {
  width: 50px;
  height: auto;
}
